.button {
  background-color: hsl(240, 95%, 34%);
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
     
}